VITE_APP_TITLE="XA Mass Control Console"
VITE_API_BASE_URL=""
VITE_API_DOCS_URL="/doc.html#/home"
VITE_DEV_PROXY_TARGET="http://localhost:8088"
VITE_USE_MOCK_API="true"
VITE_USE_MOCK_AUTH="true"
VITE_WS_BASE_URL="ws://localhost:18088/ws"
