HELP.md
target/
.mvn/wrapper/maven-wrapper.jar
!**/src/main/**/target/
!**/src/test/**/target/

### STS ###
.apt_generated
.classpath
.factorypath
.project
.settings
.springBeans
.sts4-cache

### IntelliJ IDEA ###
.idea
*.iws
*.iml
*.ipr
*.ps1

### NetBeans ###
/nbproject/private/
/nbbuild/
/dist/
/nbdist/
/.nb-gradle/
build/
!**/src/main/**/build/
!**/src/test/**/build/

### VS Code ###
.vscode/
.cursor/
.claude/
cursor.rules
/.mvn/
/.mvn/
/log/
/catalina.base_IS_UNDEFINED/
/.mvn/
/.mvn/
/logs/
/xa-mass-mock/logs/
.DS_Store
**/.DS_Store
/.claude/
